<div class="content col-md-12 " >
    <div class="row">

        <div class="col-md-3 etatStock">
            <div class="row">
                <div class="col-md-12 ">
                    <h6>Etat de stock</h6>
                    <div class="row">
                        <table class="table" style="background-color:white">
                            <thead class="specify">
                            <tr>
                                <th>Produit</th>
                                <th>Stock</th>
                                <th>Date </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                            </tr>
                            </tbody>
                            <tfooter>
                                <tr><td><a href="#"><i class="fa fa-plus"></i> Voir plus</a></td></tr>
                            </tfooter>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div  class="col-md-6 liste-formulaire">
            <h6>Equivalence et transaction</h6>
            <div class="row">
                <div class="col-md-12 formulaire">
                    <div class="row">
                        <div class="formulaire-titre col-md-12">Transaction</div>
                        <div class="formulaire-form col-md-12" ng-controller="CreateMouvement as crtControl">
                            <form ng-submit="crtControl.createMouvment()">
                            <label for="Produit">Produit</label>
                                <input type="text" id="Produit" placeholder="Anana" ng-model="produit"/>
                                <label for="Quantite">Quantite</label>
                                <input type="text" id="Quantite" placeholder="5"ng-model="quantite"/>
                                <label for="Prix">Prix Unitaire(en Ariary)</label>
                                <input type="text" id="Prix"  placeholder="5000" ng-model="prix"/>
                                <label for="Date">Date</label>
                                <input type="text" id="Date" ng-model="date">
                                <label for="Type">Type</label>
                                <select id="Type" ng-model="type">
                                    <option value="Miditra">Entrée</option>
                                    <option value="Mivoka">Sortie</option>
                                </select>
                                <button class="btn-pers"><i class="fa fa-check"></i> Valider</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 formulaire">
                    <div class="row">
                        <div class="formulaire-titre col-md-12">Equivalence</div>
                        <div class="formulaire-form col-md-12">
                            <form ng-controller="Equivalence">
                            <label for="EquivalenceProduit">Produit</label>
                            <input type="text" id="EquivalenceProduit">
                            <label for="EquivalenceQuantite">Quantite</label>
                            <input type="text" id="EquivalenceQuantite">
                            <label for="EquivalenceUnite">Unité:</label>
                            <select id="EquivalenceUnite">
                                <option value="1">Kilo</option>
                                <option value="2">Plaquette</option>
                            </select>
                            <button class="btn-pers"><i class="fa fa-exchange-alt"></i> Convertir</button>
                            </form>
                        </div>
                        <div class="col-md-12 formulaire-valiny"></div>
                    </div>
                </div>
                <div class="col-md-12 formulaire">
                    <div class="row">
                        <div class="formulaire-titre col-md-12">Historique transaction</div>
                        <table class="table" style="background-color:white" ng-controller="Historique">
                            <thead class="specify">
                            <tr>
                                <th>Produit</th>
                                <th>Stock</th>
                                <th>Date </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>John</td>
                                <td>Doe</td>
                                <td>john@example.com</td>
                            </tr>
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 navigation liste-formulaire">
            <h6>Sommaire</h6>
            <div class="row">
                <div class="col-md-12 formulaire">
                    <div class="row">
                        <div class="formulaire-titre col-md-12">Navigation</div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>